Braindecode==0.6
DAG==0
mne==1.1.1
networkx==2.8.8
nltk==3.7
numpy==1.19.5
numpy==1.20.0
numpy==1.22.4
pandas==1.2.4
pytorch_lightning==1.7.6
PyYAML==6.0.1
PyYAML==6.0.1
scikit_learn==0.23.2
scikit_learn==1.1.2
scipy==1.7.3
scipy==1.7.1
scipy==1.9.1
torch==1.12.1
torchmetrics==0.10.0
torchvision==0.13.1
tqdm==4.64.1
